html,
body {
	height: 100%;
	font-family: 'TTHoves';
	font-weight: 400;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.slider-container {
	width: 343px;
	overflow: hidden;
	position: relative;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
}

.slider {
	display: flex;
	transition: transform 0.3s ease;
	will-change: transform;
}

.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	touch-action: pan-y;
}

.slide-indicator {
	font-size: 18px;
	margin: 0 auto;
	width: fit-content;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 16px;
	background-color: rgba(20, 20, 22, 0.8);
	border-radius: 130px;
	bottom: 8px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	color: #fff;
}


.slider{
	width: 343px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

	.slide{
		min-height: 343px;
		min-width: 343px;
		width: 343px;
		height: 343px;
	}
}

.metro{
	max-width: 343px;
	width: 100%;
	margin: 0 auto;

	&__bottom{
		padding: 24px;
	}

	&-advantages{
		display: flex;
		margin-bottom: 16px;
	}

	&__advantage{
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: #353945;
		padding: 11px 23px;
		border-radius: 130px;
		border: 1px solid #E6E8EC;
		margin-right: 4px;
		white-space: nowrap;
	}

	&__advantage:last-of-type{
		margin-right: 0;
	}

	&-prices{
		display: flex;
		flex-direction: column;
		margin-bottom: 16px;
	}

	&__price{
		font-size: 12px;
		margin-bottom: 16px;
		padding-left: 22px;
		position: relative;
		line-height: 16px;
	}


	&__price:last-of-type{
		margin-bottom: 0;
	}

	&__price:before{
		content: url("../images/elipse.svg");
		height: 6px;
		width: 6px;
		position: absolute;
		left: 0;
		top: 0;
	}

}


.metro-header{

	.metro-header__start{
		display: flex;
		align-items: center;
		color: #6439DF;
		margin-bottom: 4px;
		line-height: 16px;
		font-size: 12px;
	}

	&__icon{
		margin-right: 6px;
		height: 12px;
	}

	&__title{
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 8px;
	}

	&__subtitle{
		font-size: 12px;
		color: #777E90;
		margin-bottom: 16px;
		line-height: 16px;
	}

}

.metro-footer{
	border-top: 1px solid #E6E8EC;
	padding-top: 16px;
	display: flex;
	align-items: center;

	&__icon{
		margin-right: 8px;
	}

	&__text{
		font-weight: 500;
		color: #353945;
		font-size: 12px;
		margin-right: 8px;
		line-height: 16px;
		white-space: nowrap;
	}

	&__time{
		color: #777E90;
		font-size: 12px;
		line-height: 16px;
		white-space: nowrap;
	}
}


@media (max-width: 800px) {
	.container{
		padding: 0;
	}
}
